#1 {
    color: #ff0000;
}
#2 {
    color: #0f0000;
}
#3 {
    color: #0ff000;
}
#4 {
    color: #00ff00;
}
#5 {
    color: #000f00;
}
#6 {
    color: #000ff0;
}
#7 {
    color: #0000f0;
}
#8 {
    color: #0000ff;
}
#9 {
    color: #ffffff;
}
#10 {
    color: #551155;
}

